@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-th: #f9fafb;
}

[data-theme= 'dark'] {
    --background: #0a0a0a;
    --foreground: #ededed;
    --bg-th: #f9fafb33;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.shadow-widget{
  box-shadow: 0px 3px 6px 2px rgb(200, 197, 197);
}

.bg-th{
   background-color: var(--bg-th);   
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
